certifi==2020.12.5
chardet==4.0.0
click==7.1.2
conllu==4.4
filelock==3.0.12
fire==0.4.0
future==0.18.2
idna==2.10
joblib==1.0.1
jsonlines==2.0.0
nltk==3.5
numpy==1.20.1
packaging==20.9
pyparsing==2.4.7
regex==2020.11.13
requests==2.25.1
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.6.1
sentencepiece==0.1.95
seqeval==1.2.2
six==1.15.0
termcolor==1.1.0
threadpoolctl==2.1.0
tokenizers==0.8.1rc1
torch==1.6.0
tqdm==4.59.0
transformers==3.0.2
urllib3==1.26.3
